:root {
  --width-content: 85em;

  --color-background: #E9EBEE;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 14px;
  line-height: 1.2;
  background-color: #E9EBEE;
}

.Wrapper {
  max-width: 85em;
  margin: 0 auto;
}

.Canvas {
  background-color: white;
  height: 50vh;
  position: relative;
}

.Editors {
  background-color: black;
  padding: 1em;
  height: 50vh;
  overflow: auto;
}

.Editor {
  position: relative;
  margin-bottom: 1em;
}

.CodeMirror {
  margin: 0 !important;
  height: auto !important;
  border: 1px solid #333;
}
