:root {
  --width-content: 85em;

  --color-background: #E9EBEE;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 14px;
  line-height: 1.2;
  background-color: #E9EBEE;
}

.Wrapper {
  max-width: 85em;
  margin: 0 auto;
}

.Canvas {
  background-color: white;
  height: 50vh;
  position: relative;
}

.Editors {
  background-color: black;
  padding: 1em;
  min-height: 50vh;
  color: white;
}

.ReactTabs__TabList {
  list-style: none;
  display: flex;
  margin-bottom: 1em;
}

.ReactTabs__Tab {
  flex: 0 0 auto;
  margin-right: 2em;
  display: inline-block;
  color: #666;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
}

.ReactTabs__Tab:hover {
  color: #999;
}

.ReactTabs__Tab--selected,
.ReactTabs__Tab--selected:hover {
  color: white;
}

.Editor {
  position: relative;
  margin-bottom: 1em;
}

.CodeMirror {
  margin: 0 !important;
  height: auto !important;
}

.Editor.hasBorder .CodeMirror {
  border: 1px solid #333;
}
