:root {
  --color-gray-dark: #282a36;
  --color-gray-mid: #6D8A88;
  --color-gray-light: #afc0bf;
  --color-gray-lightest: #E9EBEE;
  --color-accent: #0088ee;
  --color-red: #FF4136;

  --height-handle: 0.75em;
}

:global * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:global html,
:global body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 14px;
  line-height: 1.2;
  background-color: var(--color-gray-lightest);
  color: var(--color-gray-dark);
}

:global .ReactTabs__TabList {
  list-style: none;
  display: flex;
  margin-bottom: 1em;
}

:global .ReactTabs__Tab {
  flex: 0 0 auto;
  margin-right: 2em;
  display: inline-block;
  color: rgba(255, 255, 255, 0.4);
  font-weight: bold;
  cursor: pointer;
  user-select: none;
}

:global .ReactTabs__Tab:hover {
  color: rgba(255, 255, 255, 0.6);
}

:global .ReactTabs__Tab--selected,
:global .ReactTabs__Tab--selected:hover {
  color: white;
}

:global .CodeMirror {
  margin: 0 !important;
  height: auto !important;
  font-size: 16px !important;
}
