.Editor {
  position: relative;
  margin-bottom: 1em;
}

.CodeMirrorWrapper {
  border: 1px solid black;
  padding: 0.5em;
}

.EditorActions {
  position: absolute;
  right: 1em;
  top: 1em;
  z-index: 99;
}

.EditorActions > * {
  color: black;
  margin-left: 0.5em;
}

.EditorError {
  position: relative;
  top: 1px;
}

.EditorErrorActive {
  composes: EditorError;
  color: var(--color-red);
}

.EditorDelete {
  cursor: pointer;
}

.EditorDelete:hover {
  color: white;
}
